<html>
	<head>
		<title>FFMPEG Test</title>
	</head>
	<body>
		<form method="POST" enctype="multipart/form-data">
			<h2>This PoC is to utilize FFMPEG to do the audio format convertion</h2>
			<h4>Input</h4>
			File to upload(mp3, wav and so on):
			<input type="file" name="upfile">
			<br>
			<input type="submit" value="Convert Voice">
			
			<h4>Output</h4>
			The converted audio file will be wav format with 16khz rate
			
		</form>
	</body>
</html>
